# Normalize line endings
* text=auto

# Git should treat these as text
*.cs      text
*.cshtml  text
*.csproj  text
*.sln     text
*.json    text
*.xml     text
*.yml     text
*.md      text
*.ts      text
*.js      text
*.css     text

# Keep shell scripts LF if any
*.sh text eol=lf
